@page "/Course"
@model MachineTest.Pages.CourseModel


<span style="font-family: verdana, geneva, sans-serif">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Course Management System</title>
        <style>
            body {
                background-image: url('images/back-school.jpg');
                background-size: cover;
                background-attachment: fixed;
                font-family: 'Times New Roman', Times, serif;
            }
        </style>
   </head>
    <body>
        <div class="container-fluid">
            <div class="row pt-2 pb-2">
                
                <div class="col-md-1">
                    <button class="btn btn-primary btn-sm"
                            data-bs-toggle="offcanvas"
                            href="#offcanvasExample"
                            role="button"
                            aria-controls="offcanvasExample">
                        Menu
                    </button>
                </div>
                <div class="col-md-6">
                    <h2 style="
                text-align: center;
                font-family: monospace;
                font-weight: 800;
                color: brown;
              ">
                       Course Management System
                    </h2>
                </div>
            </div>
        </div>
        <section>
            <div class="container-fluid">
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="card p-5">
                           <form method="post">
                                <label class="form-label">CourseName</label>
                               <input type="text" class="form-control" placeholder="Enter CourseName" asp-for="Course.Name" required  />
                                <span asp-validation-for="Course.Name"></span>
                                <label class="form-label">Description</label>
                                <input type="text" class="form-control" placeholder="Enter Description" asp-for="Course.Description" required />
                                <span asp-validation-for="Course.Description"></span>
                                <label class="form-label">Validity (in days)</label>
                                <input type="number" class="form-control" placeholder="Enter Validity" asp-for="Course.Validity" required />
                                <span asp-validation-for="Course.Validity"></span>
                                <label class="form-label">StartDate</label>
                                <input type="date" class="form-control" placeholder="Enter Date" asp-for="Course.StartDate" required />
                                <span asp-validation-for="Course.StartDate"></span><br />
                                <input type="submit" class="btn btn-primary" />
                           </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @* <div class="card p-5">
                           
                        </div> *@
                    </div>
                    <div class="row">
                        @if(TempData["Message"]!=null)
                        {
                            <b>@TempData["Message"]</b>
                        }
                    </div>
                   <div class="col-md-7 mt-2">
                        <div class="card p-2">
                            <div class="table-responsive ">

                            
                           <table class="table table-bordered table-striped ">
                               <thead>
                                   <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Validity</th>
                                <th>StartDate</th>
                                <th>Status</th>
                                <th></th>
                               </thead>
                               <tbody>
                                    @if (Model.Courses != null)
                                    {
                                        @foreach (var course in Model.Courses)
                                        {
                                            <tr>
                                                <td>@course.Id</td>
                                                <td>@course.Name</td>
                                                <td>@course.Description</td>
                                                <td>@course.Validity</td>
                                                <td>@course.StartDate</td>
                                                    <td style="color:@(course.IsValid() ? "green" : "red")">@(course.IsValid() ? "VALID" : "OVERDUE")</td>

                                                <td><a href="/EditCourse/Id={@course.Id}">Detail</a> </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <span><b>No Records</b></span>
                                    }

                                   
                               </tbody>
                           </table>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        <div class="offcanvas offcanvas-start"
             tabindex="-1"
             id="offcanvasExample"
             aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
                <button type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="/Home">Employee</a></li>
                        <li class="list-group-item"><a href="/Course">Courses</a></li>
                        <li class="list-group-item"><a href="/Attendence">Attendence</a></li>
                        <li class="list-group-item"><a href="/Report">Report</a></li>
                    </ul>


                </div>
            </div>
        </div>
        
    </body>
</html>
</span>

